<div class="container">
  <div class="toolbar">
    <app-logo></app-logo>
  </div>
  <div class="content">
    <div>
      <h1 class="title">{{ title }}</h1>
      <div class="links">
        <mat-button-toggle-group
          (change)="filterDestinations($event.value === 'dream')"
        >
          <mat-button-toggle value="all">All destinations</mat-button-toggle>
          <mat-button-toggle value="dream" checked
            >Dream destinations</mat-button-toggle
          >
        </mat-button-toggle-group>
      </div>
      <div class="links">
        <button
          *ngFor="let destination of destinations"
          mat-raised-button
          color="primary"
        >
          {{ destination.name }}
        </button>
      </div>
    </div>
  </div>
</div>
